# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Winter99-Co-op-Hossein-Aghaei.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hos3in\RiderProjects\Winter99-Co-op-Hossein-Aghaei\.idea\.idea.Winter99-Co-op-Hossein-Aghaei.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
