# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.phase08.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\star-academy\Winter99-Co-op-Hossein-Aghaei\phase08\.idea\.idea.phase08\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
